<!DOCTYPE html>
<html lang="en">
<head>
{{include _head}}
<script id="itemTemplate" type="text/html">
    <div class="media-body">
        <div class="pull-right media-xs text-center text-muted">
            <label><%=event.start_date%></label><br>
            <small class="label bg-light"><%=event.timezone%></small>
        </div>
        <a href=<%=event.url%> data-target=<%=event.id%>><%=event.title%></a>
        <small class="block">
            <a href="#" class=""><%=event.venue.city%></a> 
        </small>
        <small class="block m-t-sm">
            <%_.each(event.tickets, function(tick){%>
                <p><%=tick.ticket.name%>-<%=tick.ticket.price%>-<%=tick.ticket.currency%></p>
            <%});%>
        </small>
    </div>    
</script>
<script type="text/javascript">
function onLinkedInLoad() {
     IN.Event.on(IN, "auth", onLinkedInAuth);
     console.log('LN Load');
}
function onLinkedInAuth() {
    $('#save').removeClass('disabled');
    $('#linkedin-logout').show();
    $('#linkedin-signin').hide();
    $('#ln-login-msg').hide();
    IN.API.Profile("me")
                .fields(["firstName", "lastName", "id", "publicProfileUrl","pictureUrl"])
                .result(function (results) {
                    $('#creator-first-name').val(results.values[0].firstName);
                    $('#creator-last-name').val(results.values[0].lastName);
                    $('#creator-url').val(results.values[0].publicProfileUrl);
                    $('#creator-id').val(results.values[0].id);
                    $('#creator-picture-url').val(results.values[0].pictureUrl);
                    
                });
    
}
function linkedinLogout(){
    IN.User.logout();
    $('#save').addClass('disabled');
    $('#linkedin-logout').hide();
    $('#linkedin-signin').show();
    $('#ln-login-msg').show();
}
</script>
</head>
<body>
<section class="hbox stretch"> <!-- .aside -->
    <aside class="bg-primary aside-sm" id="nav">
        {{include _nav}}
    </aside>
    <section id="content">
        <section class="vbox">
            <header class="header bg-white b-b">
                <ul class="nav nav-pills pull-right">
                    <li>
                        <div id="linkedin-logout" style="margin:8px;display:none;">
                            <a href='javascript:linkedinLogout();' class="btn btn-white"><i class="icon-linkedin-sign"></i>Logout</a>
                        </div>
                        <div id="linkedin-signin" style="margin:15px;">
                            <script type="IN/Login"></script>    
                        </div>
                    </li>
                </ul>
                <p>Launch a New Recruitment Campaign</p>
            </header>
            <section class="scrollable wrapper">
                <div class="row">
                    <div class="col-lg-12" id="main-widget">
                        <section class="panel clearfix">
                            <div class="wizard wizard-vertical clearfix" id="wizard-2">
                                <ul class="steps">
                                    <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Location & Skills</li>
                                    <li data-target="#step2"><span class="badge">2</span>Job Description</li>
                                    <li data-target="#step3"><span class="badge">3</span>Events</li>
                                    <li data-target="#step4"><span class="badge">4</span>Save</li>
                                </ul>
                            </div>
                            <div class="step-content">
                                <div class="step-pane active" id="step1">
                                    <form class="form-horizontal" method="get" data-validate="parsley">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Location</label>
                                            <div class="col-sm-4"><input id='loc-input' type="text" name="username" placeholder="London"
                                                           value="London"  data-required="false" class="form-control"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Key Skills</label>
                                            <div class="col-sm-4"><input id='skills-input' type="text" name="skills" placeholder="Java, Social Media, Accounting"
                                                             value="Java" data-required="false" class="form-control"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Rewards Platform</label>
                                            <div class="col-sm-4">
                                            <select name="reward-option" class="form-control">
                                                <option value="0">Eventbrite</option>
                                                <option class="disabled" value="1">Refrew Rewards</option>
                                            </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="step-pane" id="step2"><p>Getting latest rewards....</p>
                                    <div class="progress progress-xs m-t-sm">
                                        <div class="progress-bar progress-bar-info" data-toggle="tooltip"
                                             data-original-title="40%" style="width: 40%"></div>
                                    </div>
                                    <p class="text-muted">
                                        <small>Meanwhile...</small>
                                    </p>
                                    <div class="form-group">
                                        <label class="control-label">Write a short description of the job</label>
                                        <div class="">
                                            <textarea id="job-description" placeholder="Profile" rows="5" data-trigger="keyup"
                                                                data-rangelength="[20,200]"
                                                                class="form-control">Looking for a highly dynamic Java developer</textarea>
                                        </div>
                                    </div>
                                </div>                                    
                                <div class="step-pane" id="step3">
                                    <section class="panel">
                                        <header class="panel-heading"><span id="no-of-events" class="badge bg-info pull-right"></span>Select an Event as a Referral Reward</header>
                                        <section class="panel-body">
                                        <div id="event-list"></div>
                                        </section>
                                    </section>
                                </div>
                                <div class="step-pane" id="step4">
                                    <form id="final-form">
                                        <label class="control-label">Location</label><p id="selected-location"></p>
                                        <input name="location" id="selected-location-ip" type="hidden"/>
                                        <label class="control-label">Skills</label><p id="selected-skills"></p>
                                        <input name="skills" id="selected-skills-ip" type="hidden"/>
                                        <label class="control-label">Description</label><p id="selected-description"></p>
                                        <input name="description" id="selected-description-ip" type="hidden"/>
                                        <label class="control-label">Reward Event</label><p><a href="#" id="selected-event" target="_blank"></a></p>
                                        <input name="eventName" id="selected-event-ip" type="hidden"/>
                                        <input name="eventUrl" id="selected-event-url" type="hidden"/>
                                        <input name="eventId" id="selected-event-id" type="hidden"/>
                                        <input type="hidden" id="creator-first-name" name="creatorFirstName" value=""/>
                                        <input type="hidden" id="creator-last-name" name="creatorLastName" value=""/>
                                        <input type="hidden" id="creator-url" name="creatorUrl" value=""/>
                                        <input type="hidden" id="creator-id" name="creatorId" value=""/>
                                        <input type="hidden" id="creator-picture-url" name="creatorPictureUrl" value=""/>
                                    </form>
                                    <br/>
                                    <div><a id="save" href="#" class="btn btn-sm btn-info disabled">Save</a></div>
                                    <br/>
                                    <div id="ln-login-msg" class="alert alert-info col-sm-4"> 
                                    <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
                                    <i class="icon-info-sign"></i>You need to Sign In to Save. 
                                    </div>
                                    <div id="save-info"><a id="saved-advert" href=""></a></div>
                                </div>
                                <div class="actions m-t text-right">
                                    <button type="button" class="btn btn-white btn-sm btn-prev" data-target="#wizard-2"
                                            data-wizard="previous" disabled="disabled">Prev
                                    </button>
                                    <button id="next-button" type="button" class="btn btn-white btn-sm btn-next" data-target="#wizard-2"
                                            data-wizard="next" data-last="Finish">Next
                                    </button>
                                </div>
                            </div>
                        </section>                    
                    </div>
                </div>
            </section>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="body"></a>
    </section>
    <!-- /.vbox --> </section>

<script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
<script src="javascripts/refrew.js"></script>
<script type='text/javascript' src="http://evbdn.eventbrite.com/s3-s3/static/js/platform/Eventbrite.jquery.js"></script>
<script src="http://marionettejs.com/downloads/backbone.marionette.min.js"></script>
</body>
</html>