<!DOCTYPE html>
<html lang="en">
<head>
    {{include _head}}
    <meta property="og:title" content="Help a Friend. Get free tickets to - '{{=title}}'"/>
    <meta property="og:description" content="Do you know anyone based in {{=location}} who's good at - {{=skills}}? <br/> {{=description}}"/>
    <meta property="og:url" content="{{=fullURL}}">
    <meta property="og:image" content="http://refrew.kd.io/images/ipad.png"/>
    <script src="/javascripts/refer.js"></script>
    <script type="text/javascript">
    var Mod = {};
    function onLinkedInLoad() {
         IN.Event.on(IN, "auth", onLinkedInAuth);
    }
    
    function onLinkedInAuth() {
        $('#linkedin-logout').show();
        $('#linkedin-signin').hide();
        var keywords = '{{=skills}}'; 
        var jobid = $('#job-id').val();
        var controller = new Mod.Controller();
        IN.API.Profile("me")
                    .fields(["firstName", "lastName", "id", "publicProfileUrl","pictureUrl","headline","positions"])
                    .result(function (results) {
                        if($('#creator-id').val() != results.values[0].id){
                            $('#referer-first-name').val(results.values[0].firstName);
                            $('#referer-last-name').val(results.values[0].lastName);
                            $('#referer-url').val(results.values[0].publicProfileUrl);
                            $('#referer-id').val(results.values[0].id);
                            $('#referer-picture-url').val(results.values[0].pictureUrl);
                            $('#referer-headline').val(results.values[0].headline);
                            $('#referer-company').val(results.values[0].positions.values[0].company.name);
                            var Referral = Parse.Object.extend("referral");
                            var query = new Parse.Query(Referral);
                            query.equalTo("refererId", results.values[0].id);
                            query.equalTo("jobid", jobid);
                            query.find({
                                success:function(results){
                                    if(results.length > 0){
                                        controller.displayUserSelectedReferral(results);
                                    }
                                    if(results.length < 2){
                                        $('#search-keywords').val(keywords); 
                                        controller.peopleSearch(keywords);
                                    }
                                }
                            });
                        }else{
                            var Referral = Parse.Object.extend("referral");
                            var query = new Parse.Query(Referral);
                            query.equalTo("jobid", jobid);
                            query.find({
                                success:function(results){
                                    controller.displayAllReferrals(results);
                                }
                            });
                        }
                    });
    }    
    function linkedinLogout(){
        IN.User.logout();
        $('#linkedin-logout').hide();
        $('#linkedin-signin').show();
        $('#linkedin-search').hide();
        $('#user-referrals').hide();
    }
    </script>
</head>
<body>
<section class="hbox stretch"> <!-- .aside -->
    <aside class="bg-primary lter aside-sm" id="nav">
    {{include _nav}}
    </aside>
    <!-- /.aside --> <!-- .vbox -->
    <section id="content">
        <section class="vbox">
            <header class="header bg-primary lter b-b">
                <ul class="nav nav-pills pull-right">
                    <li>
                        <div id="linkedin-logout" style="margin:8px;display:none;">
                            <a href='javascript:linkedinLogout();' class="btn btn-white"><i class="icon-linkedin-sign"></i>Logout</a>
                        </div>
                        <div id="linkedin-signin" style="margin:15px;">
                            <script type="IN/Login"></script>    
                        </div>
                    </li>
                </ul>
                <p>Refer Friends. Earn Rewards.</p></p>
            </header>
            <section class="scrollable wrapper">
                <div class="row">
                    <div class="col-lg-6"> <!-- .accordion -->
                        <div class="panel-group m-b" id="accordion2">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                    Job Details</a>
                                </div>
                                <div id="collapseOne" class="panel-collapse in">
                                    <div class="panel-body text-sm">
                                        <input id="job-id" type="hidden" value="{{=jobid}}"/>
                                        <p>Location : {{=location}}</p>
                                        <p>Skills : {{=skills}}</p>
                                        <p>Description : {{=description}}</p>
                                        <input type="hidden" id="jobid" value="{{=jobid}}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                    Reward Details</a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse in">
                                    <div class="panel-body text-sm">
                                    <p>Event : <a tagret="_blank" href="{{=eventUrl}}">{{=eventName}}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!--col-lg-16-->
                    <div class="col-lg-6">
                        <div class="panel-group m-b">
                            <div class="panel">
                                <div class="panel-body">                    
                                    <div><script type="IN/Share" data-url="{{=fullURL}}"></script></div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-body">
                                    <ul class="list-group alt"/>
                                    <li class="list-group-item">
                                        <div class="media">
                                            <span class="pull-left thumb">
                                                {{ if (creatorPictureUrl){ }}
                                                    <img id="creator-img" src="{{=creatorPictureUrl}}" alt="{{=creatorFirstName}}" class="img-circle">
                                                {{ }else{ }}
                                                    <img id="creator-img" src="" alt="{{=creatorFirstName}}" class="img-circle">
                                                {{ } }}
                                            </span>
                                            <div class="media-body">
                                                <input type="hidden" id="creator-first-name" value="{{=creatorFirstName}}"/>
                                                <input type="hidden" id="creator-last-name" value="{{=creatorLastName}}"/>
                                                <input type="hidden" id="creator-id" value="{{=creatorId}}"/>
                                                <div><a name='creator-name' href="{{=creatorUrl}}">{{=creatorFirstName}} {{=creatorLastName}}</a></div>
                                            </div>
                                        </div>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> <!--col-lg-16-->
                </div><!-- row -->
                <div id="user-referrals" style="display:none;" class="row">
                    <div class="col-lg-6">
                    <section class="panel">
                        <header class="panel-heading">
                            <p>Your Referrals</p>
                        </header>
                        <div id="li-user-referrals" style="height:150px" class="panel-body scrollbar scroll-y m-b"></div>
                    </section>
                    </div>
                </div>
                <div id="linkedin-search" style="display:none;" class="row">
                    <div class="col-lg-6">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="input-group text-sm">
                                    <input id="search-keywords" type="text" class="input-sm form-control" placeceholder="Search"></input>
                                    <div class="input-group-btn">
                                        <button id="search-linkedin" type="button" class="btn btn-sm btn-white">Search</button>
                                    </div>
                                </div>
                            </header>
                            <div id="li-search-results" style="height:600px" class="panel-body scrollbar scroll-y m-b"></div>
                        </section>
                    </div>
                    <div id="li-selected-ref" class="col-lg-6"></div>
                    <input type="hidden" id="referer-first-name" value=""/>
                    <input type="hidden" id="referer-last-name" value=""/>
                    <input type="hidden" id="referer-url" value=""/>
                    <input type="hidden" id="referer-id" value=""/>
                    <input type="hidden" id="referer-picture-url" value=""/>
                    <input type="hidden" id="referer-headline" value=""/>
                    <input type="hidden" id="referer-company" value=""/>
                </div><!-- row -->
                <div id="all-referrals" style="display:none;" class="row">
                    <div class="col-lg-6">
                    <section class="panel">
                        <header class="panel-heading">
                            <p>Referrals</p>
                        </header>
                        <div id="all-user-referrals" class="panel-body scrollbar scroll-y m-b"></div>
                    </section>
                    </div>
                    <div id="all-selected-ref" class="col-lg-6"></div>
                </div>
            </section>
        </section>
    </section>
</section>

<script type="text/template" id="lisearch-item-template">
    <div class="media">
        <span class="pull-left thumb-sm">
            <%if (typeof pictureUrl != 'undefined'){%>
                <img id="refree-img" src="<%=pictureUrl%>" alt="<%=firstName%>" class="img-circle">
            <%}else{%>
                <img id="refree-img" src="" alt="<%=firstName%>" class="img-circle">
            <%}%>
        </span>
        
        <div class="pull-right text-muted m-t-sm">
        <%if (typeof id != 'undefined'){%>
            <%if (typeof moreDetails == 'undefined'){%>
                <button data-objid="<%=id%>" class="destroy close">x</button>
            <%}else{%>
                <i class="icon-check-empty"></i>
            <%}%>
        <%}else{%>
            <i class="icon-circle"></i>
        <%}%>
        </div>
        <div class="media-body">
            <input type="hidden" id="refree-first-name" value="<%=firstName%>"/>
            <input type="hidden" id="refree-last-name" value="<%=lastName%>"/>
            <div><a id="refree-full-name" name='name' href="<%=publicProfileUrl%>"><%=firstName%> <%=lastName%></a></div>
            <small id="refree-headline" class="text-muted"><%= headline%></small>
            <small id="refree-location" class="text-muted"><%=location.name%></small>
            <%if (typeof moreDetails != 'undefined'){%>
             <input type="hidden" id="refrer-first-name" value="<%=refererFirstName%>"/>
             <input type="hidden" id="refrer-last-name" value="<%=refererLastName%>"/>
             <input type="hidden" id="refrer-id" value="<%=refererId%>"/>
             <input type="hidden" id="refrer-url" value="<%=refererUrl%>"/>
             <input type="hidden" id="refrer-picture-url" value="<%=refererPictureUrl%>"/>
             <input type="hidden" id="refrer-headline" value="<%=refererHeadline%>"/>
             <input type="hidden" id="refrer-company" value="<%=refererCompany%>"/>
             <input type="hidden" id="refree-about" value="<%=refreeAbout%>"/>
             <input type="hidden" id="refree-rel" value="<%=refreeRel%>"/>
            <%}%>
        </div>
    </div>
</script>
<script type="text/template" id="submit-referral-form">
    <div  class="panel">
    <div class="panel-heading"><p>Submit Referral for : <a href="<%=url%>" id="refree-name"><%=name%></a></p></div>
    <div style="height:600px" class="panel-body scrollbar scroll-y m-b">
        <input type="hidden" id="selected-refree-headline" value="<%=headline%>">
        <input type="hidden" id="selected-refree-location" value="<%=location%>">
        <input type="hidden" id="selected-refree-first-name" value="<%=firstName%>">
        <input type="hidden" id="selected-refree-last-name" value="<%=lastName%>">
        <input type="hidden" id="selected-refree-img" value="<%=imgSrc%>">
        <form class="form-horizontal">
            <div class="form-group">
                <p class="col-sm-6">How do you know <%=name%> ? </p>
                <div class="col-sm-6">
                    <select id="refree-rel" class="form-control">
                        <option value="0">Friend</option>
                        <option value="1">Colleague</option>
                        <option value="2">Acquaintance</option>
                        <option value="3">Other</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <p class="col-sm-6"> Tell us more about <%=name%> </p>
                <div class="col-sm-12">
                <textarea id="refree-about" rows="8" data-trigger="keyup" data-rangelength="[20,200]" class="form-control parsley-validated">
                Test About Message for <%=name%></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <button id='save-referral' type="submit" class="btn btn-sm">Submit Referral</button>
                </div>
            </div>
        </form>
    </div>
    </div>
</script>
<script type="text/template" id="selected-user-referral">
    <div  class="panel">
    <div class="panel-heading"><p>Referral Details for : <a href="<%=url%>" id="refree-name"><%=name%></a></p></div>
    <div style="height:600px" class="panel-body scrollbar scroll-y m-b">
        <ul class="list-group alt"/>
        <p>Referred By</p>
        <li class="list-group-item">
            <div class="media">
                <span class="pull-left thumb-sm">
                    <%if (typeof refrerPictureUrl != 'undefined'){%>
                        <img id="refree-img" src="<%=refrerPictureUrl%>" alt="<%=refrerFirstName%>" class="img-circle">
                    <%}else{%>
                        <img id="refree-img" src="" alt="<%=refrerFirstName%>" class="img-circle">
                    <%}%>
                </span>
                <div class="media-body">
                    <input type="hidden" id="refrer-first-name" value="<%=refrerFirstName%>"/>
                    <input type="hidden" id="refrer-last-name" value="<%=refrerLastName%>"/>
                    <div><a name='name' href="<%=refrerUrl%>"><%=refrerFirstName%> <%=refrerLastName%></a></div>
                    <small id="refrer-headline" class="text-muted"><%= refrerHeadline%></small>
                    <small id="refrer-company" class="text-muted"> (<%=refrerCompany%>)</small>
                </div>
            </div>
        </li>
        <br/>
        <p><%=refrerFirstName%> and <%=name%> are <%=refreeRel%></p>
        <br/>
        <p>What <%=refrerFirstName%> has to say about <%=name%> ? </p>
        <li class="list-group-item">
        <div class="media">
                <div class="media-body">
                    <p><%=refreeAbout%></p>
                </div>
            </div>
        </li>        
        </ul>
    </div>
    </div>
</script>
<script src="http://marionettejs.com/downloads/backbone.marionette.min.js"></script>
<script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
</body>
</html>